<div *ngIf="checkMessageDisplay()">
    <h1>{{message}}</h1>
    <p>
        Card Number : {{userData.creditCardNum}} <br/> CVV : {{userData.cvv}} <br/> Expire Date : {{userData.expireDate}} <br/> Amount : {{userData.amount}} <br/>

    </p>
</div>
<div *ngIf="!checkButtonVisiable() && !checkMessageDisplay()" class="row">
    <button mat-raised-button [routerLink]="['payment']" color="primary" t style="margin: 2% 2% 2% 2%;text-align:center;">Payment gateway</button>
</div>
<div *ngIf="checkButtonVisiable()">
    <router-outlet></router-outlet>
</div>